body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; 
    object-fit: cover;
}

#game-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px; 
    width: 90%; 
    min-height: 400px; 
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

#next-btn {
    margin-top: 20px;
}

.hide {
    display: none;
}

#feedback {
    font-weight: bold;
    margin-top: 10px;
}

#definition-box {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    margin: 5px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin: 5px 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    #game-container {
        width: 95%; 
        min-height: 300px;
        padding: 15px;
        margin: 20px auto; 
    }

    footer {
        padding: 5px; 
        font-size: 14px;
    }

    .btn {
        width: 100%; 
    }

    .btn-grid {
        grid-template-columns: 1fr; 
    }

    #definition-box {
        margin-top: 10px; 
    }
}

